﻿@model KitapKulubu.Models.Kullanicilar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kullanicilar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullanıcıSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullanıcıSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mailAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mailAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogumTar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogumTar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciTur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciTur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.girisAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.girisAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KullaniciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
