﻿@model IEnumerable<KitapKulubu.Models.Etkinlikler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.etkinlikBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etkinlikIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitisTar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangicTar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.etkinlikBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etkinlikIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bitisTar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baslangicTar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EtkinlikID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EtkinlikID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EtkinlikID })
        </td>
    </tr>
}

</table>
