﻿@{
    ViewBag.Title = "Etkinlikler";
}
    
<div class="row" style="margin-top:40px ">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Etkinlikler</h4>
            </div>
            <div class="panel-body;col-md-12" style="margin-top:20px">
               
                Etkinlik Tarihi: <input type="datetime-local" name="bdaytime">
                <input type="submit" style="margin-left:10px" value="Gönder">
                
               
                <div style="border-style:dotted;margin-top:10px">
                    <div class="row">
                    <div  class="col-md-4"><img src="~/Content/resimler/resimyok.png" style="margin-left:10px" alt=""></div>
                   <div  class="col-md-8"><br /><h5>etkinlik başlığı</h5></div>

                    </div>
                </div>

                <div style="border-style:dotted;margin-top:10px">
                    <div class="row">
                        <div class="col-md-4"><img src="~/Content/resimler/resimyok.png" style="margin-left:10px" alt=""></div>
                        <div class="col-md-8"><br /><h5>etkinlik başlığı</h5></div>
                    </div>
                </div>

                <div style="border-style:dotted;margin-top:10px">
                    <div class="row">
                        <div class="col-md-4"><img src="~/Content/resimler/resimyok.png" style="margin-left:10px" alt=""></div>
                        <div class="col-md-8"><br /><h5>etkinlik başlığı</h5></div>
                    </div>
                </div>
            </div>
         
            
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4>Duyurular</h4>
            </div>
            <div class="panel-body" style="height:775px">
                <div class="col-md-12"><br/><br />
                    <a href="http://www.google.com"> duyuru 1</a><br />
                    şlksdkjlkşsfdlkd
                    sdfsadf
                    sadfsadf
                    adsf
                    <a href="http://www.google.com"> duyuru 2</a><br />
                    şlksdkjlkşsfdlkd
                    sdfsadf
                    sadfsadf
                    adsf

                </div>
            </div>
        </div>
    </div>
</div>
