﻿@{
    ViewBag.Title = "Anasayfa";
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators/ göstergeler -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for slides /slider için sarmalayıcı -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/resimler/kimlik.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/resimler/coksatan1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/resimler/coksatan2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/resimler/coksatan3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/resimler/coksatan4.png" alt="">
                        </div>
                    </div>
                    <!-- Controls /sağ ve sol kontroller -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="jumbotron">
        <div class="panel-body">
              <h3>NEDEN BU KULÜP?</h3>
            <h4>
                Kitap kulübü yeri sakarya meydanda olan, Zeynep Torun'a ait kütüphanenin ücretsiz bir şekilde herkese açılmasıyla oluşturulmuş bir kulüptür.
                Bu sitede ise sadece kulüp üyeleri tarafından kullanılmakta olup online kitap rezerve etmelerine yardım etme amacındadır. Üyelerin almak istedikileri kitabın
                kütühanede olup olmaması bilgisini kitabın durumu takip etmesine yardımcı olur.
                Kulüp olarak yazar imza günlerinde ve diğer değişik etkinliklerde biraraya gelip sosyal bir topluluk olma amacındayız.
                Sende bize katıl sosyal bir kitap topluluğunun parçası ol !
            </h4>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

</div>