﻿@model KitapKulubu.Models.Duyurular

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Duyurular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.duyuruBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duyuruBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duyuruIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duyuruIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duyuruTar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duyuruTar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DuyuruID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
